.header {
   padding: 20px 0;
   background-image: url("../../Images/newspaper.png");
   background-color: rgba(182, 248, 216, 0.3);
}

.wrapper {
   display: flex;
   flex-direction: row;
}

.date {
   width: 40%;
   display: flex;
   align-items: flex-end;   
}

.title {
   width: 60%;
   color: #fff;
}

.date h3 {
   font-style: italic;
   font-size: 24px;
   font-weight: 700;
   letter-spacing: 1px;
   color:rgb(255, 255, 255);
}

.title h1 {
   font-style: italic;
   font-weight: 600;
   font-size: 48px;   
   letter-spacing: 1px;
   text-align: left;  
}

.title h1 span {  
   font-weight: 600;
   font-size: 32px;
   letter-spacing: 0.5px;
   
}

