.footer {
   padding: 40px 0;   
   background-color: rgba(175, 167, 155, 0.76);
   background-image: url("../../Images/newspaper.png");
   color: #fff;
}

.footer h3 {
   font-style: italic;
   font-size: 24px;
   font-weight: 700;
   letter-spacing: 1px;
   color:rgb(255, 255, 255);
   text-align: center;
}



